body {
  background-image: url("./shelfbackground.png");
  background-color: #cccccc;
 }
:root {
    --argyle: repeating-linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1) 1px,
        transparent 1px,
        transparent 60px
      ),
      repeating-linear-gradient(
        60deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1) 1px,
        transparent 1px,
        transparent 60px
      ),
      linear-gradient(
        60deg,
        rgba(0, 0, 0, 0.1) 25%,
        transparent 25%,
        transparent 75%,
        rgba(0, 0, 0, 0.1) 75%,
        rgba(0, 0, 0, 0.1)
      ),
      linear-gradient(
        120deg,
        rgba(0, 0, 0, 0.1) 25%,
        transparent 25%,
        transparent 75%,
        rgba(0, 0, 0, 0.1) 75%,
        rgba(0, 0, 0, 0.1)
      );
    background-size: 70px 120px;
    --tartan: repeating-linear-gradient(
        transparent,
        transparent 50px,
        rgba(0, 0, 0, 0.4) 50px,
        rgba(0, 0, 0, 0.4) 53px,
        transparent 53px,
        transparent 63px,
        rgba(0, 0, 0, 0.4) 63px,
        rgba(0, 0, 0, 0.4) 66px,
        transparent 66px,
        transparent 116px,
        rgba(0, 0, 0, 0.5) 116px,
        rgba(0, 0, 0, 0.5) 166px,
        rgba(255, 255, 255, 0.2) 166px,
        rgba(255, 255, 255, 0.2) 169px,
        rgba(0, 0, 0, 0.5) 169px,
        rgba(0, 0, 0, 0.5) 179px,
        rgba(255, 255, 255, 0.2) 179px,
        rgba(255, 255, 255, 0.2) 182px,
        rgba(0, 0, 0, 0.5) 182px,
        rgba(0, 0, 0, 0.5) 232px,
        transparent 232px
      ),
      repeating-linear-gradient(
        270deg,
        transparent,
        transparent 50px,
        rgba(0, 0, 0, 0.4) 50px,
        rgba(0, 0, 0, 0.4) 53px,
        transparent 53px,
        transparent 63px,
        rgba(0, 0, 0, 0.4) 63px,
        rgba(0, 0, 0, 0.4) 66px,
        transparent 66px,
        transparent 116px,
        rgba(0, 0, 0, 0.5) 116px,
        rgba(0, 0, 0, 0.5) 166px,
        rgba(255, 255, 255, 0.2) 166px,
        rgba(255, 255, 255, 0.2) 169px,
        rgba(0, 0, 0, 0.5) 169px,
        rgba(0, 0, 0, 0.5) 179px,
        rgba(255, 255, 255, 0.2) 179px,
        rgba(255, 255, 255, 0.2) 182px,
        rgba(0, 0, 0, 0.5) 182px,
        rgba(0, 0, 0, 0.5) 232px,
        transparent 232px
      ),
      repeating-linear-gradient(
        125deg,
        transparent,
        transparent 2px,
        rgba(0, 0, 0, 0.2) 2px,
        rgba(0, 0, 0, 0.2) 3px,
        transparent 3px,
        transparent 5px,
        rgba(0, 0, 0, 0.2) 5px
      );
  }
  
  .bookshelf {
    width: 100%;
    margin-top: 10px;
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .book {
    width: 50px;
    height: 280px;
    position: relative;
    margin-left: 1px;
    transform-style: preserve-3d;
    transform: translateZ(0) rotateY(0);
    transition: transform 1s;
  }

  .bookclone {
    width: 50px;
    height: 280px;
    position: absolute;
    left: auto;
    margin-left: 1px;
    transform-style: preserve-3d;
    transform: translateZ(0) rotateY(0);
    transition: transform 1s;
  }
  
  .side {
    position: absolute;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    transform-origin: center left;
  }
  
  .spine2 {
    position: relative;
    width: 50px;
    height: 280px;
    background-image: var(--argyle), url(./birdbinder.png);
    transform: rotateY(0deg) translateZ(0px);
  }
  .spine1 {
    position: relative;
    width: 50px;
    height: 280px;
    background-image: var(--argyle), url(./applebinder.png);
    transform: rotateY(0deg) translateZ(0px);
  }
  .spine3 {
    position: relative;
    width: 50px;
    height: 280px;
    background-image: var(--argyle), url(./skybinder.png);
    transform: rotateY(0deg) translateZ(0px);
  }

  .spine-title {
    margin: 2px;
    position: absolute;
    top: 20px;
    left: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  
  .spine-author {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: small;
    bottom: 10px;
    left: 0; /* no idea why 20% centers it */
    transform: rotate(0deg);
  }
  
  .top {
    width: 50px;
    height: 190px;
    top: -2px;  /* hmm, why -2 and not 0? */
    background-image: linear-gradient(90deg, white 90%, gray 10%);
    background-size: 5px 5px;
    transform: rotateX(90deg) translateZ(95px) translateY(-95px);
  }
  
  .cover {
    width: 190px;
    height: 280px;
    top: 0px;
    background-image: url("https://picsum.photos/190/280");
    background-size: contain;
    background-repeat: round;
    left: 50px;
    transform: rotateY(90deg) translateZ(0);
    transition: transform 1s;
  }
  
  .book:hover {
    z-index: 1;
    transform: rotateX(-5deg) rotateY(-45deg) rotateZ(0deg) translateY(10px)
      translateX(-30px);
  }
body::before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 1450px;
    height: 793px;
    z-index: -3;
    background-image: url('shelfbackground.png');
  }
.mediaobject img {
    width: 1450px;
    height: 50px;
    left: -10px;
    top: 293px;
    z-index: -1;
    position: absolute;
}
.mediaobject2 img {
    width: 1450px;
    height: 50px;
    z-index: -1;
    left: -10px;
    bottom: 0px;
    position: absolute;
    }
.mediaobject3 img {
    width: 1450px;
    height: 300px;
    position: absolute;
    transform: rotate(180deg);
    top: 343px;
    left: -10px;
    z-index: -2;
    opacity: 0.7;
    }
.mediaobject4 img {
    width: 1450px;
    height: 300px;
    position: absolute;
    transform: rotate(180deg);
    top: 0px;
    left: -10px;
    z-index: -2;
    opacity: 0.6;
    }
.mediaobject5 img {
    width: 1450px;
    height: 30px;
    position: absolute;
    left: -10px;
    top: 263px;
    z-index: -2;
    opacity: 0.5;
    }
.mediaobject6 img {
    width: 1450px;
    height: 30px;
    position: absolute;
    left: -10px;
    top: 709px;
    z-index: -2;
    opacity: 0.5;
    }
.label{
    background-color: burlywood;
    color: rgb(88, 50, 0);
    height: 85px;
    width: 85px;
    border: 5px solid rgb(47, 28, 0);
    padding: 0.5rem;
    font-family: Arial;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    cursor: pointer;
    position: absolute;
    right: 350px;
    bottom: 40px;
    z-index: 1;
  }

.label2{
  background-color: burlywood;
  color: rgb(88, 50, 0);
  height: 85px;
  width: 85px;
  border: 5px solid rgb(47, 28, 0);
  padding: 0.5rem;
  font-family: Arial;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  cursor: pointer;
  position: absolute;
  right: 470px;
  bottom: 40px;
  z-index: 1;
}

.label3{
  background-color: burlywood;
  color: rgb(88, 50, 0);
  height: 85px;
  width: 85px;
  border: 5px solid rgb(47, 28, 0);
  padding: 0.5rem;
  font-family: Arial;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  cursor: pointer;
  position: absolute;
  right: 590px;
  bottom: 40px;
  z-index: 1;
}

.label4{
  background-color: burlywood;
  color: rgb(88, 50, 0);
  height: 85px;
  width: 85px;
  border: 5px solid rgb(47, 28, 0);
  padding: 0.5rem;
  font-family: Arial;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  cursor: pointer;
  position: absolute;
  right: 710px;
  bottom: 40px;
  z-index: 1;
}

.label5{
  background-color: burlywood;
  color: rgb(88, 50, 0);
  height: 85px;
  width: 85px;
  border: 5px solid rgb(47, 28, 0);
  padding: 0.5rem;
  font-family: Arial;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  cursor: pointer;
  position: absolute;
  right: 830px;
  bottom: 40px;
  z-index: 1;
}

.label6{
  background-color: burlywood;
  color: rgb(88, 50, 0);
  height: 85px;
  width: 85px;
  border: 5px solid rgb(47, 28, 0);
  padding: 0.5rem;
  font-family: Arial;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  cursor: pointer;
  position: absolute;
  right: 950px;
  bottom: 40px;
  z-index: 1;
}

.hotbartext{
    background-color: rgb(251, 209, 154);
    color: rgb(88, 50, 0);
    border: 5px solid rgba(144, 116, 72, 0.355);
    position: absolute;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 15px;
    width: 800px;
    height: 40px;
    right: 303px;
    bottom: 0px;
    z-index: -0.1;
  } 

  .float-on-hover {
    -webkit-transform: perspective(0px) translateZ(0);
    transform: perspective(0px) translateZ(0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .float-on-hover:hover, .float-on-hover:focus, .float-on-hover:active {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  h1 {
    color: #EEEEEE;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 38%;
    top: 32%;
    width: 500px;
    height: 500px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #b47e00;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9ca7d;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #7d4d00;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 50%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
        
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
        background-image: url(./logo3d.png);
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: 464px;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
        background-image: url(./logo3d.png);
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: -249px;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }